@charset "UTF-8";
@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/Helvetica Neue CE 55 Roman.woff2") format("woff2"), url("../fonts/Helvetica Neue CE 55 Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/Helvetica Neue Condensed Black.woff2") format("woff2"), url("../fonts/Helvetica Neue Condensed Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/Helvetica Neue Condensed Bold.woff2") format("woff2"), url("../fonts/Helvetica Neue Condensed Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "HelveticaNeue";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "HelveticaNeue";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #191919;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 69.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.spollers {
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
}
._spoller-init .spollers__title {
  cursor: pointer;
}
._spoller-init .spollers__title::before, ._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #D9D9D9;
  height: 2px;
  width: 15px;
  transition: transform 0.5s ease 0s;
}
._spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
._spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
._spoller-init .spollers__title._spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
._spoller-init .spollers__title._spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  font-weight: 400;
  font-size: 30px;
  line-height: 2;
  letter-spacing: 0.2em;
  color: #D9D9D9;
  text-transform: capitalize;
  position: relative;
  padding: 0 0px 150px 0px;
  width: 100%;
}
.title h2 {
  display: block;
  padding: 0px 10px 0px 10px;
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@supports (font-size: clamp( 0.75rem , 0.3109756098rem  +  2.1951219512vw , 1.875rem )) {
  .title h2 {
    font-size: clamp( 0.75rem , 0.3109756098rem  +  2.1951219512vw , 1.875rem );
  }
}
@supports not (font-size: clamp( 0.75rem , 0.3109756098rem  +  2.1951219512vw , 1.875rem )) {
  .title h2 {
    font-size: calc(0.75rem + 1.125 * (100vw - 20rem) / 51.25);
  }
}
.title img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  max-width: 352px;
  transform: translate(-50%, -50%);
}
@supports (width: clamp( 17.5rem , 15.743902439rem  +  8.7804878049vw , 22rem )) {
  .title img {
    width: clamp( 17.5rem , 15.743902439rem  +  8.7804878049vw , 22rem );
  }
}
@supports not (width: clamp( 17.5rem , 15.743902439rem  +  8.7804878049vw , 22rem )) {
  .title img {
    width: calc(17.5rem + 4.5 * (100vw - 20rem) / 51.25);
  }
}

.line {
  margin: 0 auto;
  display: block;
  width: 60px;
  height: 2px;
  background-color: #34C759;
}

.header {
  position: relative;
}
.header ::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #FFFFFF;
  opacity: 1%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-box {
  display: flex;
  align-items: flex-end;
  gap: 8.97px;
}
@media (max-width: 575px) {
  .header .logo-box__logo2 {
    display: none;
  }
}
.header__menu {
  font-weight: 700;
  line-height: 90px;
  display: flex;
}
@supports (padding-right: clamp( 0.625rem , 0.3323170732rem  +  1.4634146341vw , 1.375rem )) {
  .header__menu li {
    padding-right: clamp( 0.625rem , 0.3323170732rem  +  1.4634146341vw , 1.375rem );
  }
}
@supports not (padding-right: clamp( 0.625rem , 0.3323170732rem  +  1.4634146341vw , 1.375rem )) {
  .header__menu li {
    padding-right: calc(0.625rem + 0.75 * (100vw - 20rem) / 51.25);
  }
}
@supports (padding-left: clamp( 0.625rem , 0.3323170732rem  +  1.4634146341vw , 1.375rem )) {
  .header__menu li {
    padding-left: clamp( 0.625rem , 0.3323170732rem  +  1.4634146341vw , 1.375rem );
  }
}
@supports not (padding-left: clamp( 0.625rem , 0.3323170732rem  +  1.4634146341vw , 1.375rem )) {
  .header__menu li {
    padding-left: calc(0.625rem + 0.75 * (100vw - 20rem) / 51.25);
  }
}
.header__menu li:hover {
  transition: all 0.3s ease 0s;
  color: #34C759;
  cursor: pointer;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.footer {
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.spollers__title {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  line-height: 90px;
  letter-spacing: 0.2em;
  color: #D9D9D9;
  border: none;
}
.spollers__body {
  border: none;
}

.footer__logo-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 9px;
  margin-bottom: 20px;
}

.contacts__title {
  text-align: center;
  margin-bottom: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #737373;
}
.contacts__subtitle {
  text-align: center;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #737373;
}
.contacts__subtitle a {
  text-decoration: underline;
}

.front {
  padding: 80px 0px 401px 0px;
  position: relative;
}
.front__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.front__image-ibg img {
  top: -91px;
}
.front__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.front__title {
  font-size: 72px;
  line-height: 116.666666666%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  font-weight: 800;
  margin: 0px 0px 16px 0px;
}
@supports (font-size: clamp( 1.5rem , 0.3292682927rem  +  5.8536585366vw , 4.5rem )) {
  .front__title {
    font-size: clamp( 1.5rem , 0.3292682927rem  +  5.8536585366vw , 4.5rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 0.3292682927rem  +  5.8536585366vw , 4.5rem )) {
  .front__title {
    font-size: calc(1.5rem + 3 * (100vw - 20rem) / 51.25);
  }
}
.front__title span {
  font-weight: 400;
  letter-spacing: 0.1em;
}
.front__subtitle {
  max-width: 695px;
  padding: 0px 50px 0px 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 162.5%;
  text-align: center;
  letter-spacing: -0.2px;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin: 0px 0px 40px 0px;
}
@supports (font-size: clamp( 0.625rem , 0.4786585366rem  +  0.7317073171vw , 1rem )) {
  .front__subtitle {
    font-size: clamp( 0.625rem , 0.4786585366rem  +  0.7317073171vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.625rem , 0.4786585366rem  +  0.7317073171vw , 1rem )) {
  .front__subtitle {
    font-size: calc(0.625rem + 0.375 * (100vw - 20rem) / 51.25);
  }
}
.front__button {
  margin-bottom: 70px;
}
.front__button a {
  display: block;
  opacity: 0.8;
  padding: 25px 57px;
  color: #1A1A1A;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2em;
  background: #34C759;
  overflow: hidden;
  border-radius: 43px;
}
.front__button a:hover {
  transition: all 0.3s ease 0s;
  border-radius: 43px;
  opacity: 1;
}
.front__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px 90px;
  justify-content: center;
}
.front__item {
  width: 245px;
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-front__img {
  width: 20px;
  height: 20px;
  margin-bottom: 16px;
}
.item-front__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-front__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.item-front__subtitle {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
}

.about {
  margin-top: -240px;
}
@supports (margin-top: clamp( -20rem , -21.9512195122rem  +  9.756097561vw , -15rem )) {
  .about {
    margin-top: clamp( -20rem , -21.9512195122rem  +  9.756097561vw , -15rem );
  }
}
@supports not (margin-top: clamp( -20rem , -21.9512195122rem  +  9.756097561vw , -15rem )) {
  .about {
    margin-top: calc(-20rem + 5 * (100vw - 20rem) / 51.25);
  }
}
.about__content {
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  padding-top: 51px;
  padding-bottom: 90px;
}
@supports (margin-bottom: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem )) {
  .about__content {
    margin-bottom: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 0.1676829268rem  +  8.5365853659vw , 6.25rem )) {
  .about__content {
    margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 51.25);
  }
}
@supports (padding-top: clamp( 0.3125rem , -0.8094512195rem  +  5.6097560976vw , 3.1875rem )) {
  .about__content {
    padding-top: clamp( 0.3125rem , -0.8094512195rem  +  5.6097560976vw , 3.1875rem );
  }
}
@supports not (padding-top: clamp( 0.3125rem , -0.8094512195rem  +  5.6097560976vw , 3.1875rem )) {
  .about__content {
    padding-top: calc(0.3125rem + 2.875 * (100vw - 20rem) / 51.25);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem )) {
  .about__content {
    padding-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem )) {
  .about__content {
    padding-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 51.25);
  }
}
.about__subtitle {
  max-width: 754px;
  padding: 0px 10px 0px 10px;
  font-weight: 400;
  line-height: 1.875;
  text-align: center;
  color: #A6A6A6;
  opacity: 0.7;
}
@supports (font-size: clamp( 0.625rem , 0.4786585366rem  +  0.7317073171vw , 1rem )) {
  .about__subtitle {
    font-size: clamp( 0.625rem , 0.4786585366rem  +  0.7317073171vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.625rem , 0.4786585366rem  +  0.7317073171vw , 1rem )) {
  .about__subtitle {
    font-size: calc(0.625rem + 0.375 * (100vw - 20rem) / 51.25);
  }
}
@supports (margin-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem )) {
  .about__subtitle {
    margin-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem )) {
  .about__subtitle {
    margin-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 51.25);
  }
}
.about__switch {
  max-width: 734px;
  display: flex;
  align-items: center;
  position: relative;
}
.about .slider__button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  border: 2px solid #303030;
  border-radius: 100%;
}
@media (max-width: 702px) {
  .about .slider__button {
    display: none;
  }
}
.about__button-right {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  border: 2px solid #303030;
  border-radius: 100%;
}

.about__button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  border: 2px solid #303030;
  border-radius: 100%;
}

.swiper {
  display: flex;
  align-items: center;
}

.swiper-wrapper {
  margin: 0 61px;
}

.swiper-button-prev {
  padding: 20px 20px 20px 20px;
  border-radius: 100%;
}

.swiper-button-next {
  padding: 20px 20px 20px 20px;
  border-radius: 100%;
}

.work__content {
  margin-top: 60px;
}
@supports (margin-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem )) {
  .work__content {
    margin-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem )) {
  .work__content {
    margin-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 51.25);
  }
}
.work__items {
  display: flex;
  margin: 0 -15px;
  row-gap: 30px;
}
@media (max-width: 1050px) {
  .work__items {
    flex-wrap: wrap;
    min-width: 233px;
  }
}
.work__item {
  margin: 0 15px;
}

.item-work {
  flex: 1 1 25%;
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 24px 24px 42px 24px;
}
@media (max-width: 927px) {
  .item-work {
    flex: 1 1 30%;
  }
}
@media (max-width: 535px) {
  .item-work {
    flex: 1 1 50%;
  }
}
.item-work__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.item-work__line {
  display: block;
  width: 56px;
  height: 2px;
  background-color: #34C759;
  margin-bottom: 24px;
}
.item-work__text {
  padding-right: 7px;
  flex: 1 1 auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3846;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}
.item-work:hover {
  background: #34C759;
}
.item-work:hover .item-work__title {
  color: #191919;
}
.item-work:hover .item-work__text {
  color: #191919;
}
.item-work:hover .item-work__line {
  background-color: #191919;
}

@supports (margin-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem )) {
  .dishes__content {
    margin-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem )) {
  .dishes__content {
    margin-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 51.25);
  }
}
.dishes__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 60px -15px 0px;
}
.dishes__item {
  flex: 0 1 33.33333%;
  padding: 0 15px 0;
  margin: 0 auto;
}

.item-dishes {
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 24px;
  position: relative;
  height: 100%;
  min-width: 350px;
}
.item-dishes__link {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 24px 24px 0 0;
}
.item-dishes__link img {
  width: 40px;
  height: 40px;
}
.item-dishes__link img:hover {
  transform: scale(120%);
  transition: all 0.3s ease 0s;
}
.item-dishes__picture {
  position: relative;
  padding: 0 0 74.29% 0;
}
.item-dishes__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}
.item-dishes__body {
  padding: 29px 30px 20px;
  flex: 1 1 auto;
}
.item-dishes__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 0.9375;
  color: #D9D9D9;
}
.item-dishes__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.333333333;
  letter-spacing: -0.15px;
  color: #A4A8B2;
  margin-bottom: 20px;
}
.item-dishes__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38461538;
  letter-spacing: -0.1625px;
  color: #85878C;
}
.item-dishes__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 34px;
}
.item-dishes__button {
  font-weight: 900;
  font-size: 10px;
  line-height: 3.6;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  background: #262626;
  border: 2px solid #303030;
  border-radius: 30px;
  padding: 0px 29.15px 0px;
  margin-left: 24px;
}
.item-dishes__button:hover {
  background: #34C759;
  color: #252525;
  transition: all 0.8s ease 0s;
}

.rating {
  font-size: 25px;
  align-items: center;
}
.rating__active::before {
  color: #F9AD3D;
}
.rating__value {
  font-weight: 900;
  font-size: 12px;
  line-height: 2.5;
  letter-spacing: 1.5px;
  color: #B3B3B3;
}

.chefs__content {
  margin: 50px 0 0 0;
}
@supports (margin-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem )) {
  .chefs__content {
    margin-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem );
  }
}
@supports not (margin-bottom: clamp( 1.875rem , 0.4115853659rem  +  7.3170731707vw , 5.625rem )) {
  .chefs__content {
    margin-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 51.25);
  }
}
.chefs__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 705px) {
  .chefs__items {
    justify-content: center;
  }
}
@media (max-width: 465px) {
  .chefs__items {
    flex-direction: column;
    justify-content: space-between;
  }
  @supports (padding-left: clamp( 1.875rem , -10.8079268293rem  +  63.4146341463vw , 34.375rem )) {
    .chefs__items {
      padding-left: clamp( 1.875rem , -10.8079268293rem  +  63.4146341463vw , 34.375rem );
    }
  }
  @supports not (padding-left: clamp( 1.875rem , -10.8079268293rem  +  63.4146341463vw , 34.375rem )) {
    .chefs__items {
      padding-left: calc(1.875rem + 32.5 * (100vw - 20rem) / 51.25);
    }
  }
}
.chefs__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.chefs__item:hover {
  transform: scale(110%);
  transition: all 0.8s ease 0s;
}
.chefs__picture {
  position: relative;
  width: 65px;
  padding: 0 0 65px 0;
  border-radius: 100%;
  overflow: hidden;
}
.chefs__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}
.chefs__bio {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.chefs__name {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.166666;
  letter-spacing: -0.225px;
  color: #FFFFFF;
}
.chefs__speciality {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.333333;
  letter-spacing: -0.15px;
  color: rgba(255, 255, 255, 0.5);
}

.recipes__cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 60px;
}
@supports (margin-bottom: clamp( 2.8125rem , 0.9832317073rem  +  9.1463414634vw , 7.5rem )) {
  .recipes__cards {
    margin-bottom: clamp( 2.8125rem , 0.9832317073rem  +  9.1463414634vw , 7.5rem );
  }
}
@supports not (margin-bottom: clamp( 2.8125rem , 0.9832317073rem  +  9.1463414634vw , 7.5rem )) {
  .recipes__cards {
    margin-bottom: calc(2.8125rem + 4.6875 * (100vw - 20rem) / 51.25);
  }
}
@media (max-width: 790px) {
  .recipes__cards {
    flex-direction: column;
  }
}
.recipes__big-card {
  flex: 1 1 50%;
  background: url("../img/recipes/1.png") 0 0 no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5.406% 5.856%;
  border-radius: 6px;
}
.recipes__small-cards {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.recipes__small-card {
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 30px 25px 20px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.big-card__tag {
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 2.5;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #000000;
  border-radius: 4px;
  margin-bottom: 65px;
  padding: 0px 16.5px;
}
.big-card__date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14285714;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.big-card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6666666;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 45px;
  flex: 1 1 auto;
}
.big-card__author {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14285714;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.components__box {
  display: flex;
  flex-direction: row;
  gap: 29px;
}
.components__left {
  display: flex;
  flex-direction: row;
  gap: 20.32px;
  height: 25px;
}

.visibility__box {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.visibility__order {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.5;
  color: #FFFFFF;
}

.comments__box {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.comments__order {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.5;
  color: #FFFFFF;
}

.small-card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #FFFFFF;
  margin-bottom: 10px;
  flex: 1 1 auto;
}
.small-card__components {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.small-card__tag {
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 2.5;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #000000;
  border-radius: 4px;
  padding: 0px 15.774px;
}
.small-card__date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.5;
  color: #B3B3B3;
}

.small-card__tag_padding10 {
  padding: 0px 13.29px;
}

.small-card__tag_padding20 {
  padding: 0px 12.18px;
}

.recipes__small-card-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/recipes/2.png") center no-repeat;
  background-size: 100%;
  background-size: cover;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  max-width: 350px;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
  justify-content: flex-start;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: center;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(75%, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
