@charset "UTF-8";
@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/Helvetica Neue CE 55 Roman.woff2") format("woff2"), url("../fonts/Helvetica Neue CE 55 Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/Helvetica Neue Condensed Black.woff2") format("woff2"), url("../fonts/Helvetica Neue Condensed Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/Helvetica Neue Condensed Bold.woff2") format("woff2"), url("../fonts/Helvetica Neue Condensed Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "HelveticaNeue";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "HelveticaNeue";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #191919;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 69.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  position: relative;
}
.header ::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #FFFFFF;
  opacity: 1%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-box {
  display: flex;
  align-items: flex-end;
  gap: 8.97px;
}
@media (max-width: 575px) {
  .header__logo-box :nth-child(2) {
    display: none;
  }
}
.header__menu {
  font-weight: 700;
  line-height: 90px;
  display: flex;
}
.header__menu li {
  padding: 0 22.25px 0 22.25px;
}
.header__menu li:hover {
  transition: all 0.3s ease 0s;
  color: #34C759;
  cursor: pointer;
}
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.front {
  padding: 80px 0px 401px 0px;
  position: relative;
}
.front__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.front__image-ibg img {
  top: -91px;
}
.front__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.front__title {
  font-size: 72px;
  line-height: 116.666666666%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  font-weight: 800;
  margin: 0px 0px 16px 0px;
}
@supports (font-size: clamp( 1.5rem , 0.3292682927rem  +  5.8536585366vw , 4.5rem )) {
  .front__title {
    font-size: clamp( 1.5rem , 0.3292682927rem  +  5.8536585366vw , 4.5rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 0.3292682927rem  +  5.8536585366vw , 4.5rem )) {
  .front__title {
    font-size: calc(1.5rem + 3 * (100vw - 20rem) / 51.25);
  }
}
.front__title span {
  font-weight: 400;
  letter-spacing: 0.1em;
}
.front__subtitle {
  max-width: 695px;
  padding: 0px 50px 0px 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 162.5%;
  text-align: center;
  letter-spacing: -0.2px;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin: 0px 0px 40px 0px;
}
@supports (font-size: clamp( 0.625rem , 0.4786585366rem  +  0.7317073171vw , 1rem )) {
  .front__subtitle {
    font-size: clamp( 0.625rem , 0.4786585366rem  +  0.7317073171vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.625rem , 0.4786585366rem  +  0.7317073171vw , 1rem )) {
  .front__subtitle {
    font-size: calc(0.625rem + 0.375 * (100vw - 20rem) / 51.25);
  }
}
.front__button {
  border-radius: 43px;
  margin-bottom: 70px;
  overflow: hidden;
}
.front__button a {
  display: block;
  opacity: 0.8;
  padding: 25px 57px;
  color: #1A1A1A;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2em;
  background: #34C759;
}
.front__button a:hover {
  transition: all 0.3s ease 0s;
  opacity: 1;
}
.front__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px 90px;
  justify-content: center;
}
.front__item {
  width: 245px;
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-front__img {
  width: 20px;
  height: 20px;
  margin-bottom: 16px;
}
.item-front__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-front__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.item-front__subtitle {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
}

.about {
  margin-top: -240px;
}
.about__content {
  max-width: 1110px;
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
}
.about__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 150px;
  letter-spacing: 5.8px;
  color: #D9D9D9;
  padding: 0px 10px 0px 10px;
  max-width: 547px;
  margin-top: 60px;
  margin-bottom: 16px;
  background: url("../img/about.png") 50% 50% no-repeat;
  background-size: 64.42%;
}
@supports (font-size: clamp( 0.75rem , 0.3109756098rem  +  2.1951219512vw , 1.875rem )) {
  .about__title {
    font-size: clamp( 0.75rem , 0.3109756098rem  +  2.1951219512vw , 1.875rem );
  }
}
@supports not (font-size: clamp( 0.75rem , 0.3109756098rem  +  2.1951219512vw , 1.875rem )) {
  .about__title {
    font-size: calc(0.75rem + 1.125 * (100vw - 20rem) / 51.25);
  }
}
.about__subtitle {
  max-width: 834px;
  padding: 0px 50px 0px 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #A6A6A6;
  opacity: 0.7;
  margin-bottom: 90px;
}
@supports (font-size: clamp( 0.625rem , 0.4786585366rem  +  0.7317073171vw , 1rem )) {
  .about__subtitle {
    font-size: clamp( 0.625rem , 0.4786585366rem  +  0.7317073171vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.625rem , 0.4786585366rem  +  0.7317073171vw , 1rem )) {
  .about__subtitle {
    font-size: calc(0.625rem + 0.375 * (100vw - 20rem) / 51.25);
  }
}
.about__switch {
  max-width: 734px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 90px;
}
.about .slider__button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  border: 2px solid #303030;
  border-radius: 100%;
}
@media (max-width: 702px) {
  .about .slider__button {
    display: none;
  }
}
.about__button-right {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  border: 2px solid #303030;
  border-radius: 100%;
}

.about__button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  border: 2px solid #303030;
  border-radius: 100%;
}

.swiper {
  display: flex;
  align-items: center;
}

.swiper-wrapper {
  margin: 0 61px;
}

.swiper-button-prev {
  padding: 20px 20px 20px 20px;
  border-radius: 100%;
}

.swiper-button-next {
  padding: 20px 20px 20px 20px;
  border-radius: 100%;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  max-width: 350px;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
  justify-content: flex-start;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: center;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(75%, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
